@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #7C6947;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #7C6947;
}

:root {
    --primary: #7C6947;
    --secondary: #06FECA;
    --black: #000;
    --text-color: #282828;
    --white: #fff;
    --text-accent: #6d6e71;
}

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-weight: 400;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

a, button {
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover, button:hover {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul {
    list-style: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
    font-size: 1.025rem;
    line-height: 1.83em;
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--white);
    text-transform: uppercase;
}

::placeholder {
    text-transform: capitalize;
    color: #d6d5d5;
    font-size: 1rem;
}

figure {
    margin: 0;
    position: relative;
}

.themeBtn {
    height: 57px;
    width: 180px;
    background: linear-gradient(180deg, #886C46, #493B24);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
}

.themeBtn:hover {
    background: linear-gradient(180deg, #493B24, #886C46);
    color: var(--white);
}

section {
    position: relative;
    padding: 5rem 0;
}

.sectionHeading {
    font-size: 3rem;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

/* header */
.navigation .navbar-light .navbar-nav .nav-link {
    font-size: 0.92rem;
    color: #252023;
}

.navigation .navbar-light .navbar-nav .nav-item .nav-link {
    padding: 10px 35px;
}

.navigation .navbar-light .navbar-nav .nav-item.active .nav-link {
    font-weight: 500;
}

.navigation .navbar-light .navbar-nav .nav-item .nav-link:hover {
    font-weight: 500;
}

.headBtn a {
    font-size: 2.5rem;
    color: black;
}

header {
    padding: 15px 0;
}

/* header end */
/* top section */
.toppanel-sect {
    background: linear-gradient(180deg, #967E57, #6B5A3C);
    padding: 3rem 0;
}

.top-head h2 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
}

.top-head h2 a {
    color: white;
}

/* top section end */
/* category section */
.categ-content {
    background: #F1E4D4;
    padding: 5rem 7rem;
    border-radius: 2px;
}

.cate-cont {
    background: white;
    border-radius: 9px;
    border: 1px solid var(--primary);
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.cate-cont a {
    padding: 1.5rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cate-cont a h4 {
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.cate-cont a p {
    font-size: 1rem;
    font-weight: 300;
    position: relative;
}

.cate-cont a i {
    color: white;
    background: var(--primary);
    height: 75px;
    width: 80px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.cate-cont a p:before {
    content: '';
    height: 4px;
    width: 100%;
    background: var(--primary);
    position: absolute;
    bottom: -30px;
    border-radius: 100px;
}

/* category section end */
/* footer */
footer {
    background: black;
    padding: 2rem 0;
}

.foot-cnt ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.foot-cnt ul li a {
    color: white;
    font-size: 1.12rem;
}

.foot-logo h3 {
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    text-align: center;
    margin-bottom: 20px;
}

.foot-logo input {
    height: 57px;
    color: black;
    width: 100% !important;
    border: none;
    border-radius: 0;
}

.foot-logo button {
    height: 57px;
    width: 150px;
    background: var(--primary);
    color: white;
    border-radius: 10px;
    border: none;
}

.foot-logo .form-group {
    flex: 0 0 62%;
}

.foot-logo {
    margin-top: 5rem;
}

.foot-logo .form-inline {
    background: white;
    border-radius: 10px;
    justify-content: end;
}

/* footer end */
/* screen-two */
/* .topform section */
.top-form input {
    height: 57px;
    border: 1px solid var(--primary);
    border-radius: 9px !important;
}

.top-form input:focus {
    outline: none;
    box-shadow: none;
}

.top-form select:focus {
    outline: none;
    box-shadow: none;
}

.top-form select {
    height: 57px;
    border: 1px solid var(--primary);
    border-radius: 9px;
}

.top-form .input-group button {
    background: transparent;
    border: none;
    color: black;
    font-size: 1.12rem;
    font-weight: 500;
}

.top-form .input-group .input-group-text {
    background: transparent;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: black;
}

.top-form .input-group .input-group-prepend {
    flex: 0 0 25%;
}

.top-form .themeBtn {
    height: 57px;
    width: 100%;
    background: linear-gradient(180deg, #7D6340, #4C3C27);
    color: white;
    border-radius: 9px;
    font-size: 17px;
    font-weight: 500;
}

.top-form .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
    background: transparent;
    color: black;
    outline: none;
    border: none;
}

.toppanel-form-sect {
    background: url(../images/topformBg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .categ-sect .sectionHeading:after {
    content: '';
    height: 5px;
    width: 10%;
    background: var(--primary);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
} */

.categ-sect .sectionHeading {
    /* margin-bottom: 4rem; */
}

/* .topform section end */
/* blog list section */
.categ-sect .categ-content .sectionHeading {
    /* text-align: left; */
}

.categ-sect .categ-content .sectionHeading:after {
    display: none;
}

.buise-cont {
    background: white;
    padding: 2rem;
    border-radius: 9px;
    position: relative;
    margin-top: 2rem;
}

.buise-cont a {
    display: flex;
    gap: 25px;
    align-items: center;
}

.blg-date h5 {
    color: #A8A8A8;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.blg-date h4 {
    color: #090909;
    font-size: 25px;
    margin: 0;
    font-weight: 700;
}

.blg-detail h3 {
    color: black;
    font-weight: 700;
    margin: 0;
}

.blg-detail p {
    font-size: 14px;
    color: black;
    font-weight: 300;
}

.blg-detail h6 {
    color: #9C9C9C;
    font-size: 12px;
    margin-top: 5px;
}

.blg-detail h6 span {
    padding-right: 5px;
}

.blg-sect .categ-content {
    padding: 4rem 3rem;
    margin-top: 6rem;
}

.blg-detail {
    flex: 0 0 60%;
}

.blg-date {
    text-align: center;
}

.bookmark {
    position: absolute;
    top: 35px;
    right: 30px;
}

.blgBtn {
    display: flex;
    align-items: center;
    justify-content: end;
}

/* blog list section end */
/* screen-two end */
/* restaurant page */
.categ-sect.rest-sect .categ-content {
    padding: 2rem;
}

.dine-cont {
    display: flex;
    align-items: center;
    gap: 16px;
    background: white;
    padding: 2rem 1.75rem;
    border-radius: 9px;
    position: relative;
    margin-top: 1rem;
}

.din-text h3 {
    color: black;
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

.din-text ul {
    display: flex;
    margin: 10px 0 0;
    align-items: center;
}

.din-text p {
    font-size: 14px;
    font-weight: 300;
}

.din-text ul li a {
    color: #8E8C8C;
    font-size: 14px;
    position: relative;
}

.din-text ul li a i {
    color: var(--primary);
    font-size: 18px;
}

.din-text ul li {
    padding-right: 22px;
}

.din-text ul li + li a:after {
    content: '';
    height: 25px;
    width: 1px;
    background: #D4D4D4;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.dine-cont .bookmark {
    top: 20px;
    right: 25px;
}

.dineBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* restaurant page end */
/* restaurant detail */
.review-cont {
    text-align: center;
}

.categ-sect .categ-content .review-cont .sectionHeading {
    text-align: center;
    margin: 0;
}

.review-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-cont h3 {
    color: #6C5B3D;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 10px 0;
}

.review-cont h4 {
    font-size: 1.125rem;
    color: #6C5B3D;
    display: flex;
    gap: 10px;
}

.review-cont h4 i {
    color: #FBBC04;
}

.review-cont .themeBtn {
    margin-top: 2rem;
    width: 400px;
    height: 65px;
}

.prod-serv-sect {
    padding: 0 0 5rem;
}

h3.prod-heading {
    color: black;
    font-size: 1.875rem;
    text-transform: capitalize;
}

.prod-serv-sect h5 {
    color: #828F96;
    font-size: 1.25rem;
    margin: 0;
}

.servForm .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f1e4d4;
    padding: 1.5rem 1rem;
    border: none;
    border-radius: 10px;
}

.servForm .btn h3, .servForm .dropdown-menu a h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: black;
}

.servForm .btn h3 span, .servForm .dropdown-menu a h3 span {
    font-size: 18px;
    color: #434343;
}

.servForm .btn:focus {
    background: #947d56;
    border: none;
    outline: none;
    box-shadow: none;
}

.servForm .btn i {
    color: black;
    font-size: 1.25rem;
    padding-left: 10px;
}

.servForm .dropdown-menu {
    width: 100%;
}

.serv-content {
    padding: 1rem 0;
    border-bottom: 1px solid #BEBEBE;
}

.serv-list {
    padding: 3rem 0;
}

.serv-list ul li a {
    color: #878787;
}

.serv-list ul li a:hover {
    color: black;
}

.serv-list ul li {
    padding: 5px 0;
}

.mapCont .overlay {
    display: flex;
    align-items: center;
    justify-content: end;
}

.locationCont {
    position: absolute;
    right: 24%;
    top: 45%;
    text-align: center;
}

.locationCont h6 {
    background: white;
    padding: 5px;
}

.map-sect {
    padding: 0 0 5rem;
}

.mapCont .overlay .locationCont:last-child {
    top: 55%;
    right: 32%;
}

.servForm .input-group-text {
    background: transparent !important;
    border: none;
    padding: 0;
}

.servForm .input-group-text i {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F1E4D4;
    border-radius: 50%;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

.servForm .input-group-prepend {
    padding: 0;
    margin: 0;
}

.servForm input {
    height: 50px;
    border: none;
}

.servForm .input-group {
    margin: 0.5rem 0;
}

.newGroup {
    background: transparent;
    color: #fff;
    font-size: 1em;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.newGroup:hover, .newGroup:active, .newGroup:focus {
    background: transparent;
    cursor: pointer;
}

.newGroup input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 148px;
    height: 46px;
    cursor: pointer;
}

.newGroup input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}

.newGroup h6 {
    position: relative;
    z-index: 11111;
    color: #747474;
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-weight: 400;
}

.servForm .newGroup {
    border-bottom: 1px solid #BFBABA;
    padding-bottom: 10px;
}

/* restaurant detail end */
/* about Us page */
.aboutCont .sectionHeading {
    text-align: left;
    margin: 0;
}

.aboutCont .sectionHeading:after {
    display: none;
}

.aboutCont p {
    padding: 20px 0;
}

.about-sect {
    min-height: 65vh;
    display: flex;
    align-items: center;
}

.aboutCont img {
    border-radius: 30px;
}

/* about Us page end */
/* favourite page */
.weg-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 1rem 1rem;
    margin: 1rem 0;
    flex-direction: column;
    border-radius: 10px;
}

.weg-head {
    flex: 0 0 100%;
    width: 100%;
}

.weg-body h3 {
    color: #000;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.325rem;
}

.weg-body p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 10px 0 16px;
}

.weg-body .themeBtn {
    font-size: 12px;
    height: 45px;
    width: 160px;
}

.weg-head i {
    color: white;
    height: 25px;
    width: 25px;
    background-color: #e04f5f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.weg-head .overlay {
    display: flex;
    justify-content: end;
    padding: 5px;
}

.wish-img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.favt-Btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.wish-class {
    padding: 4rem 2rem 3rem;
}

.favrit-sect .categ-content {
    padding: 2rem 5rem;
}

/* favourite page end */


/* sign up page */

.check-form h1 {
    position: absolute;
    top: -30px;
    right: 5px;
    font-size: 7.25rem;
    font-weight: 700;
    opacity: 0.5;
}

.check-form .sectionHeading {
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

.input-group {
    align-items: center;
    padding-bottom: 1rem;
}

.password-input label {
    padding-right: 5.3rem;
}

.email-input label {
    padding-right: 5.6rem;
}

.confirm-input label {
    padding-right: 1rem;
}


.check-form input {
    height: 60px;
    background-color: white;
    margin: 11px 0;
    padding: 0 2rem;
}

.check-form select.form-control option {
    height: 60px !important;
}

.check-form select.form-control:not([size]):not([multiple]) {
    height: 60px;
    margin: 10px 0;
    padding: 0 2rem;
    color: #868686;
    font-size: 1rem;
}

.check-form select.form-control:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: none;
}

.check-form input::placeholder {
    color: #868686;
    font-size: 1rem;
}

.check-form input:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: none;
}

.check-form .themeBtn {
    color: white;
    padding: 1rem 2rem;
    border-color: white;
    margin-top: 10px;
}

.formBtn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.check-form .themeBtn:hover {
    background-color: white;
    color: white;
}

.forgotBtn {
    color: black;
    font-size: 1rem;
    font-weight: 500;
}

.forgotBtn:hover {
    color: black;
}

.forgot-form .sectionHeading {
    margin: 10px 0;
}

.forgot-form .themeBtn {
    width: 100%;
    gap: 12px;
}

.forgot-form .themeBtn i {
    font-size: 24px;
}

.forgot-form p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 500;
}

/* sign up page end */


/* contact us page */

.contact-sect .categ-content {
    padding: 3rem;
}

.contact- sect .sectionHeading {
    text-align: left !important;
}

.contact-sect .sectionHeading {
    text-align: left;
}

.cnt-content ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cnt-content ul li a i {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    font-size: 24px;
    color: var(--primary);
}

.cnt-content ul li a h4 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary);
    margin: 0;
}

.cnt-content ul {
    margin: 30px 0;
}

.cnt-content ul li {
    padding: 14px 0;
}

.cnt-content ul li a p {
    font-size: 1rem;
    font-weight: 600;
}

/* contact us page end */

.dropdown-profile {
    background-color: var(--primary);
    border-color: var(--primary);
}

.dropdown-profile.focus, .dropdown-profile:focus {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: 0 0 0 0.2rem #F1E4D4;
}

.dropdown-profile.hover, .dropdown-profile:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    box-shadow: 0 0 0 0.2rem #F1E4D4;
}

.dropdown-profile:not(:disabled):not(.disabled).active, .dropdown-profile:not(:disabled):not(.disabled):active, .show > .dropdown-profile.dropdown-toggle {
    color: #7c6947;
    background-color: #F1E4D4;
    border-color: #7c6947;
}

.dropdown-profile:not(:disabled):not(.disabled).active:focus, .dropdown-profile:not(:disabled):not(.disabled):active:focus, .show > .dropdown-profile.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #7c6947;
}

.cate-cont a img {
    color: white;
    background: #ece3d2;
    height: 75px;
    width: 80px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    padding: 10px;
}

.suggestion-location p {
    padding-left: 1rem;
}


.suggestion-location {
    display: flex;
    align-items: center;
    /* padding-left: 1rem; */
}

.suggestion-contact p {
    padding-left: 1rem;
}

.suggestion-contact {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.suggestion-location i {
    padding: 0.4rem;
}

.see-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-item:active {
    outline: none;
}

.dropdown-item.active, .dropdown-item:active {
    color: #000;
    text-decoration: none;
    background-color: #007bff00;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #7c6947;
    text-decoration: none;
    background-color: #f1e4d4;
}

button.flex.absolute {
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    position: relative;
    top: -3.2rem;
    left: 40rem;
}


.dropdown {
    min-width: 15em;
}

.select {
    background: var(--primary);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--primary);
    border-radius: 0.5em;
    padding: 0.7rem;
    cursor: pointer;
    transition: 0.3s;
    width: 30%;
}

.select-clicked {
    border: 2px #7c6947 solid;
    box-shadow: 0 0 0.8em #7c6947;
}

.select:hover {
    background: #F1E4D4;
    color: var(--primary);
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #ffffff;
    transition: 0.3s;
}

.select .caret:hover {
    border-top: 6px solid var(--primary);
}

.select .caret {
    border-top: 6px solid #ffffff;
}

.caret-rotate {
    border-top: 6px solid var(--primary);
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #F1E4D4;
    border: #F1E4D4;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 4em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #7c6947;
}

.menu .active {
    background: #7c6947;
}

.menu-open {
    display: block;
    opacity: 1;
}

.logout-form button {
    border: none;
    background: none;
}

.logo-div img {
    width: 13rem;
}

.foot-logo img {
    width: 13rem;
}

.reset-password {
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    position: relative;
    top: 0.4rem;
    left: -2rem;
}

.dine-cont img {
    width: 7rem;
    height: 7rem;
    border-radius: 7px;
}

button.state-dropdown {
    background-color: #7c6947 !important;
    color: white !important;
    padding: 0.7rem;
    border-radius: 7px;
    margin-right: 1rem;
}

button.state-dropdown:hover {
    background-color: #ece3d3 !important;
    color: #7c6947 !important;
    padding: 0.7rem;
    border-radius: 7px;
    margin-right: 1rem;
}

.dropdown-menu.show {
    position: absolute !important;
    transform: translate3d(0px, 53px, 0px) !important;
    top: 1.8rem !important;
    left: 0px !important;
    will-change: transform !important;
}

.bookmark i {
    cursor: pointer;
}

.category-img img {
    width: 2rem;
    height: 2rem;
}

.colorize-img {
    filter: url(#colorize);
}

/*.sectionHeading:after {*/
/*    content: '';*/
/*    height: 5px;*/
/*    width: 10%;*/
/*    background: var(--primary);*/
/*    position: absolute;*/
/*    display: block;*/
/*    bottom: -20px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    border-radius: 30px;*/
/*}*/

.manage-business {
    height: 57px;
    width: 180px;
    color: black;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 1rem;
}

.manage-business:hover {
    color: #7c6947;
}

.liked-business {
    color: #7c6947;
}

.unliked-business {
    color: black;
}

.profile-sect .formBtn {
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
}

.profile-sect .categ-content {
    background: #F1E4D4;
    border: 1px solid #87724E;
    padding: 7rem 5rem;
}

.profile-sect .sectionHeading {
    text-align: left;
}

.check-form .input-group input {
    border-right: 0;
    padding-right: 0;
}

.categ-content .check-form .input-group-text {
    background: white;
    border: none;
    margin-top: 11px;
    border: 1px solid #ced4da;
    border-left: 0;
    padding-right: 2rem;
    color: black;
    height: 3.74rem;
}

.intl-tel-input input {
    padding: 0 0 0 2rem !important;
}

.intl-tel-input {
    position: relative;
    display: inline-block;
    width: 100%;
}

.categ-content .check-form .intl-tel-input input, .categ-content .check-form .intl-tel-input input[type=text], .categ-content .check-form .intl-tel-input input[type=tel] {
    margin-top: 11px !important;
}

.intl-tel-input.allow-dropdown .flag-container {
    right: 0;
    left: unset;
}

.check-form .themeBtn:nth-child(2) {
    background: black;
}

.intl-tel-input.allow-dropdown .selected-flag {
    width: 60px;
    height: 70px;
    margin: 10px 0;
}

.intl-tel-input .country-list {
    right: 0;
    width: 355px;
}

.check-form textarea {
    height: 160px;
    resize: none;
    padding: 2rem 2rem;
}

.manage-sect .categ-content {
    padding: 1rem 3rem 3rem 3rem;
}

.manage-sect .categ-content .slider-nav {
    margin-top: 2rem;
}

.signup-sect.manage-sect .check-form select.form-control:not([size]):not([multiple]) {
    height: 70px;
}

.signup-sect.manage-sect .check-form input {
    height: 70px;
}

.manage-sect .categ-content .slider-nav .slick-slide {
    margin: 0 5px;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.selected-location {
    color: #7c6947 !important;
}

.custom-input {
    -webkit-appearance: none;
    appearance: none;
}

input[type="checkbox"].custom-input {
    border-radius: 3px;
}

.accent-color {
    transform: scale(1.5);
}

.accent {
    accent-color: #7c6947;
}

.rated {
    color: #7c6947 !important;
}

i.remove-icon {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ece3d2;
    border-radius: 50%;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

.resume-send {
    height: 3rem;
    width: 5rem;
    background: linear-gradient(180deg, #886C46, #f1e4d4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    border: none;
    margin-left: 10rem;
}

.resume-send:hover {
    background: linear-gradient(180deg, #f1e4d4, #886C46);
    color: var(--white);
}

.servManageForm .btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    padding: 1.5rem 2rem;
    border: none;
}

.servManageForm .dropdown-menu {
    width: 100%;
}

.servManageForm .btn:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: none;
}

.servManageForm .btn h3, .servManageForm .dropdown-menu a h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    text-transform: capitalize;
    color: #7a757d;
    padding-top: 0.5rem;
}

input[type="time"] {
    position: relative;
    padding: 1rem 3.5rem 1rem 0.75rem;
    font-size: 1rem;
    font-family: monospace;
    color: #7c6947;
    border: 2px solid #7c6947;
    border-radius: 0.25rem;
    cursor: pointer;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E") right 1rem center no-repeat;
}

input[type="time"]:focus {
    outline: none;
    border-color: #7c6947;
    box-shadow: 0 0 0 0.25rem rgb(124 105 71 / 22%);
}

::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
    background: rgba(124 105 71 / 22%);
}

::-webkit-datetime-edit-text {
    opacity: 0;
}

::-webkit-clear-button,
::-webkit-inner-spin-button {
    display: none;
}

::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 2.5rem;
    height: 94%;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    color: #7c6947;
    background: #7c6947;

}

input[type="time"]:hover::-webkit-calendar-picker-indicator {
    opacity: 0.05;
}

input[type="time"]:hover::-webkit-calendar-picker-indicator:hover {
    opacity: 0.15;
}


input[type="date"] {
    position: relative;
    padding: 1rem 3.5rem 1rem 0.75rem;
    font-size: 1rem;
    font-family: monospace;
    color: #7c6947;
    /* border: 1px solid #7c6947; */
    border-radius: 0.25rem;
    cursor: pointer;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='22' viewBox='0 0 20 22'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23688EBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' transform='translate(1 1)'%3E%3Crect width='18' height='18' y='2' rx='2'/%3E%3Cpath d='M13 0L13 4M5 0L5 4M0 8L18 8'/%3E%3C/g%3E%3C/svg%3E") right 1rem center no-repeat;
}

input[type="date"]:focus {
    outline: none;
    border: 1px solid #7c6947;
}

::-webkit-datetime-edit-month-field:hover,
::-webkit-datetime-edit-day-field:hover,
::-webkit-datetime-edit-year-field:hover {
    background: rgba(124 105 71 / 22%);
}

::-webkit-datetime-edit-text {
    opacity: 0;
}

::-webkit-clear-button,
::-webkit-inner-spin-button {
    display: none;
}

::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 2.5rem;
    height: 94%;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    color: #7c6947;
    background: #7c6947;

}

input[type="date"]:hover::-webkit-calendar-picker-indicator {
    opacity: 0.05;
}

input[type="time"]:hover::-webkit-calendar-picker-indicator:hover {
    opacity: 0.15;
}

.tox-promotion {
    display: none !important;
}

.tox-statusbar__branding {
    display: none !important;
}

.tox-tinymce {
    margin: 8px 1px 25px 1px !important;
    border: 2px solid #eee;
    border-radius: 10px;
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    overflow: hidden;
    position: relative;
    visibility: inherit !important;
}

.update-manage {
    height: 3rem;
    width: 8rem;
    background: linear-gradient(180deg, #886C46, #1f1509);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    border: none;
    /* margin-left: 10rem; */
}

.update-manage:hover {
    background: linear-gradient(180deg, #1f1509, #886C46);
    color: var(--white);
}

.premium-crown {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-bottom: 2rem;
}

i.remove-location-icon {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #886C46;
    border-radius: 50%;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

#suggestions {
    background: white !important;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 200px;
    overflow: auto;
    border-radius: 4px;
}

.suggestion {
    padding: 1rem;
    border-bottom: 1px solid #e9eef1;
    cursor: pointer;
}

.multi-suggestions {
    background: white !important;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 200px;
    overflow: auto;
    border-radius: 4px;
}

.multi-suggestion {
    padding: 1rem;
    border-bottom: 1px solid #e9eef1;
    cursor: pointer;
}

.suggestion:hover {
    background: #f1e4d4;
}

i.location-icon {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #886C46;
    border-radius: 50%;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

i.link-icon {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #886C46;
    border-radius: 50%;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
}

.add-location-icon {
    display: flex;
    justify-content: flex-end;
}

.add-link-icon {
    display: flex;
    justify-content: flex-end;
}

.remove-location {
    display: flex;
    justify-content: flex-end;
}

.remove-link {
    display: flex;
    justify-content: flex-end;
}

img.image-file-add {
    background: white;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

i.camera-icon {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #886C46;
    border-radius: 50%;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid;
}

.slick-list.draggable {
    background: rgba(136, 108, 70, 0.33) !important;
    border-radius: 20px !important;
}

.slick-slide img {
    display: block;
    width: 50% !important;
    border-radius: 5px !important;
}

.intl-tel-input .country-list {
    position: absolute;
    z-index: 5 !important;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow: scroll !important;
}

.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
    background-color: rgb(207 189 165 / 39%) !important;
}

.intl-tel-input .country-list .country.highlight {
    background-color: rgb(207 189 165 / 39%) !important;
}

.intl-tel-input .country-list .country {
    padding: 10px 10px !important;
}

.spinner-border {
    color: #725b3a;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #867352 !important;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(100 79 51 / 49%) !important;
}

.rate-thumb {
    padding-left: 1rem;
    color: #949494;
}

.ui-widget-content {
    border: 2px solid #7b613f7a !important;
    border-radius: 5px !important;
    color: #333333;
}

.ui-widget.ui-widget-content {
    border: 2px solid #7b613f7a !important;
    border-radius: 5px !important;
    margin-top: 15px !important;
}

.ui-widget.ui-widget-content:hover {
    border: 2px solid #7b613f7a !important;
    border-radius: 5px !important;
}

.ui-menu .ui-menu-item {
    margin-top: 0;
    padding: 6px !important;
    cursor: pointer;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 2px solid #867352 !important;
    border-radius: 5px !important;
    background: #f1e3d0 !important;
    font-weight: normal;
    color: #000000 !important;
}

.signup-dropdown {
    margin-bottom: 10px;
    position: relative;
}

.signup-dropdown input[type="radio"] {
    display: none;
}

.signup-dropdown label {
    display: block;
    padding: 10px;
    border: 1px solid #937c55;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    padding-right: 30px;
}

.signup-caret {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #89734f;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.content {
    display: none;
    padding: 10px;
    background-color: #89734f57;
    border: 1px solid #736141;
    border-radius: 4px;
    margin-top: 5px;
}

.signup-dropdown input[type="radio"]:checked ~ .signup-caret {
    transform: translateY(-50%) rotate(180deg);
}

.signup-dropdown input[type="radio"]:checked ~ .content {
    display: block;
}

.consumer {
    height: 3rem;
    width: 5rem;
    background: linear-gradient(180deg, #886C46, #f1e4d4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    border: none;
}

.consumer:hover {
    background: linear-gradient(180deg, #f1e4d4, #886C46);
    color: var(--white);
}

.consumer:focus-visible {
    outline: none;
}

.free-membership {
    height: 3rem;
    width: 5rem;
    background: linear-gradient(180deg, #886C46, #f1e4d4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    border: none;
}

.free-membership:hover {
    background: linear-gradient(180deg, #f1e4d4, #886C46);
    color: var(--white);
}

.free-membership:focus-visible {
    outline: none;
}

.paid-member {
    height: 3rem;
    width: 5rem;
    background: linear-gradient(180deg, #886C46, #f1e4d4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
    border: none;
}

.paid-member:hover {
    background: linear-gradient(180deg, #f1e4d4, #886C46);
    color: var(--white);
}

.paid-member:focus-visible {
    outline: none;
}

button.consumer-password {
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    position: relative;
    top: -3.2rem;
    left: 31rem;
}

button.church-password {
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    position: relative;
    top: -3.2rem;
    left: 31rem;
}

button#business-password {
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    position: relative;
    top: -3.2rem;
    left: 31rem;
}

button#business-password-confirm {
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    position: relative;
    top: -3.2rem;
    left: 31rem;
}

button#paid-member-password {
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    position: relative;
    top: -3.2rem;
    left: 31rem;
}

button#paid-member-password-confirm {
    outline: none;
    box-shadow: none;
    background: none;
    border: none;
    position: relative;
    top: -3.2rem;
    left: 31rem;
}

.radio {
    margin: 0.5rem;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

label.radio-label {
    cursor: pointer;
}

.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #d0d0d0;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #977d5a;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #977d5a;
}

.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #d0d0d0;
    background: #d0d0d0;
}

.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}

#business-suggestions {
    background: white !important;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 200px;
    overflow: auto;
    border-radius: 4px;
}

.business-suggestion {
    padding: 1rem;
    border-bottom: 1px solid #e9eef1;
    cursor: pointer;
}

.business-suggestion:hover {
    background: #f1e4d4;
}

#paid-member-business-suggestions {
    background: white !important;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 200px;
    overflow: auto;
    border-radius: 4px;
}

.paid-member-business-suggestion {
    padding: 1rem;
    border-bottom: 1px solid #e9eef1;
    cursor: pointer;
}

.paid-member-business-suggestion:hover {
    background: #f1e4d4;
}

.paid-member-multi-suggestions {
    background: white !important;
    padding: 1rem;
    margin-bottom: 1rem;
    height: 200px;
    overflow: auto;
    border-radius: 4px;
}

.paid-member-multi-suggestion {
    padding: 1rem;
    border-bottom: 1px solid #e9eef1;
    cursor: pointer;
}

.paid-member-multi-suggestion:hover {
    background: #f1e4d4;
}

.scroll-up {
    transform: scale(1);
    transition: transform 0.3s;
}
.scroll-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #f1e4d4;
    color: #6e5738;
    border-radius: 15px;
    padding: 10px 15px;
    width: 45px;
    height: 45px;
    line-height: 28px;
    font-size: 24px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s border 0.3s !important;
}

.scroll-up:hover {
    transform: scale(1.2);
}

.scroll-up:hover {
    color: #6e5738;
}

a.subscription-btn {
    height: auto;
    width: auto;
    background: linear-gradient(180deg, #886C46, #f1e4d4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.125rem;
}
